.formContainer {
    padding: 20px;
    background: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.textField {
    margin-bottom: 16px;
}

.submitButton {
    margin-top: 20px;
}

.post-list {
    text-align: center;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
    list-style-type: none;
}

.post {
    width: calc(50% - 430px);
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}
